* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #A47551;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

header{
    position: relative;
    background-color: grey;
    width: 25vw;
    height: 10vh;
    position: absolute;
    top: 0;
}

main {
    position: relative;
    background-color: #E4D4C8;
    width: 90vw;
    height: 90vh;
}

.page {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
}

.pageheader {
    position: relative;
}

.addtaskbtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1vw;
    height: 2em;
    background-color: lightgreen;
    border: solid 1px green;
    padding: 5px;
    cursor: pointer;
}

.tasks {
    display: flex;
    position: relative;
    list-style-type: none;
    flex-direction: column;
}

.check{
    position: relative;
    height: 90%;
    width: 3vw;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.task {
    display: flex;
    width: 95%;
    height: 5vh;
    margin: 2vh auto;
    padding: 1vh 1vw;
    background-color: #D0B49F;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}

.task p {
    margin: 0 1vw;
}

.closebtn {
    cursor: pointer;
    margin-right: 1vw;
}