:root {
    --background-color- : #E5E5E5;
    --white- : #FFFFFF; 
    --primary-gray- : #C4C4C4;
    --secondary-gray- : #E0E0E0;
    --primary-brown- : #7E5E53;
    --red- : #FA4F4F;
    --green- : #69C759;
}

:root .darkmode {
    --background-color- : #484747;
    --white- : #000000; 
    --font-color- : #FFF;
    --primary-gray- : #444444;
    --secondary-gray- : #737171;
    --primary-brown- : #7E5E53;
    --red- : #FA4F4F;
    --green- : #69C759;
}

/*      BACKGROUND DO MODAL         */

.modal-container {
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
}

/*      PARTE FISICA DO MODAL        */


.modal {
    align-items: center;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--primary-gray-);
    font-family: 'Open Sans';
}


.modal-buttons {   
    display: flex;
    justify-content: flex-end;
    
}

.modal-buttons button {
    border: none; 
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: none;
    cursor: pointer;
}

.modal-title {
    text-align: center;
    font-size: 20px;
    font-family: "Ranga";
    margin: 5px;
    color: var(--font-color-);
}

.modal-form {
    display: flex;
    flex-direction: column;

}

.modal-form label {
    margin-bottom: 5px;
    font-size: 24px;
    color: var(--font-color-);
}


#modal-name {
    border: none;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    background: var(--background-color-) ;
}

#modal-description {
    border: none;
    padding: 20px;
    font-size: 20px;
    resize: none;
    border-radius: 10px;
    background: var(--background-color-)
}
.modal-confirm {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.modal-confirm button {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: var(--font-color-);
    padding: 5px;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 13px;
    cursor: pointer;
    background-color: var(--green-);
}


/* MODAL DE EXCLUSÃO DAS LISTAS */

.modal-confirmacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    height: 30vh;
    background-color: var(--background-color-);
    border-radius: 10px;
}

.modal-confirmacao h2 {
    color: var(--font-color-);
    font-family: 'Open Sans';
}

.buttons-container {
    width: 60%;
    height: 25%;
    display: flex;
    justify-content: space-around;
}

.buttons-container button {
    width: 45%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.buttons-container button:hover{
    transform: scale(1.05);
}

.buttons-container button i {
    font-size: 2.5em;
    color: var(--font-color-);
}

.buttons-container button i:hover {
    transform: scale(1.0);
}

.hidden {
    display: none;
}