:root {
    --background-color- : #E5E5E5;
    --white- : #FFFFFF; 
    --primary-gray- : #C4C4C4;
    --secondary-gray- : #E0E0E0;
    --primary-brown- : #7E5E53;
    --red- : #FA4F4F;
    --green- : #69C759;
}

/*      BACKGROUND DO MODAL         */

.modal-container {
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
}

/*      PARTE FISICA DO MODAL        */


.modal {
    align-items: center;
    background-color: lightblue;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--primary-gray-);
    font-family: 'Open Sans';
}


.modal-buttons {   
    display: flex;
    justify-content: flex-end;
    
}

.modal-buttons button {
    border: none; 
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.modal-title {
    text-align: center;
    font-size: 20px;
    font-family: "Ranga";
    margin: 5px;
}

.modal-form {
    display: flex;
    flex-direction: column;

}

.modal-form label {
    margin-bottom: 5px;
    font-size: 24px;
}


#modal-name {
    border: none;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    background: var(--background-color-) ;
}

#modal-description {
    border: none;
    padding: 20px;
    font-size: 20px;
    resize: none;
    border-radius: 10px;
    background: var(--background-color-)
}
.modal-confirm {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.modal-confirm button {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: var(--white-);
    padding: 5px;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 13px;
    cursor: pointer;
    background-color: var(--green-);

}

.hidden {
    display: none;
}