@import url('https://fonts.googleapis.com/css2?family=Ranga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ranga&display=swap');

:root {
    --background-color- : #E5E5E5;
    --white- : #FFFFFF; 
    --primary-gray- : #C4C4C4;
    --secondary-gray- : #E0E0E0;
    --primary-brown- : #7E5E53;
    --red- : #FA4F4F;
    --green- : #69C759;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color-);
    height: 100vh;
    width: 100vw;
}

.grampo {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 40px;
}

.prancheta {
    
    margin: 90px 70px 70px 70px;
    background-image: url(/assets/img/backgound.svg);
    background-size: cover;
    
    border-radius: 10px;
    
}

nav {
    display: flex;
    border-bottom: 10px solid rgba(180, 180, 180, 0.5);
    height: 110px;
    padding: 20px;
    justify-content: space-between;
}


.toDoList {
    width: 200px;
    height: 70px;
    color: var(--white-);
    font-size: 50px;
    font-family: 'Ranga';
    text-align: center;
    background: var(--primary-brown-);
    border-radius: 10px;
    text-decoration: none;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--primary-gray-);


}


main {
    display: flex;
    justify-content: space-between;
    margin: 130px 160px 0 60px;
    
}

.tasks {
    width: 750px;
    margin-right: 50px;
}


.task-list li {
    list-style: none;
    margin-bottom: 32px;
    width: 750px;
    height: 45px;
    background: var(--secondary-gray-);
    padding: 5px 20px 9px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.task-list a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    
}

.task-list p {
    
    color: #3C2D2D;
    font-family: 'Open Sans' ;
    font-weight: bold;
    font-size: 24px;
    
}

.task-list button {
    border: none;
    background: 0;
    font-size: 20px;
    cursor: pointer;
}

.module {
    height: 512px;
    width: 380px;
    border-radius: 10px;
    background: var(--secondary-gray-);
    font-family: 'Open Sans';
}

.module-buttons {
    display: flex;
    justify-content: space-between;
    margin: 6px 7px 0 7px;
    height: 23px;
}

#edit {
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background-color: var(--primary-gray-);
}

#close {
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background-color: var(--primary-gray-);
}

.module-task-name {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 75px;
    
}

.module-task-name p {
    width: 190px;
    height: 45px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--primary-gray-);
    color: #3C2D2D;
    font-weight: bold;
    font-size: 24px;
    
}


.module-description {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
    height: 408px;
    border: 20px solid var(--primary-gray-);

}

.description-form {
    display: flex;
    flex-direction: column;


}

.description-form label {
    text-align: center;
    font-size: 24px;
    font-family: 'Ranga';

}

.description-form textarea {
    resize: none;
    border: none;
    margin: 5px;
    padding: 5px;
    background: none;
    font-size: 20px;
    
}

.comfirm-buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 5px;
    
}

.b {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: var(--white-);
    padding: 5px;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 13px;
    cursor: pointer;
}

#cancel {
    background-color: var(--red-);
    margin-right: 50px;
    
}

#comfirm {
    background-color: var(--green-);

}



footer div {
    height: 120px;
    align-items: center;
    display: flex;
    padding: 20px;
}

.adicionar {
    margin-left: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary-gray-);
    cursor: pointer;
}

